{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Spokefy</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pkmn.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    </head>
    <body>
    {% block content %}
    <div class="container">
        <div class="shadow-lg p-5 mb-1 bg-body-tertiary rounded">
            <header class="d-flex flex-wrap justify-content-center py-5 mb-3 border-bottom">
                <h1 >Spotify playlist from your Pokemon Team</h1>
            </header>
        </div>
    </div>
    <div class="container position-relative d-flex flex-wrap justify-content-center py-5 mb-3">
        <div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
            <div class="card text-center border-dark" id="login">
                <h3 class="card-header">Login</h3>
                <div class="card-footer border-light ">
                    <form action="{% url 'spotify_log' %}" method="GET">{% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark col-12 mx-auto ">Entrar com Spotify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} 
    </body>
</html>
