{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SpoPkmn</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pkmn.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>   
    </head>
    <body>

    {% block content %}

    <div class="container">
        <div class="shadow-lg p-5 mb-3 bg-body-tertiary rounded">
            <header class="d-flex flex-wrap justify-content-center py-5 mb-3 border-bottom">
                <h1 >Spotify playlist from your Pokemon Team</h1>
            </header>
        </div>
    </div>
    
    <div class="container">
        {% if pk == False %}
        <div class="row">
            <div class="col">
                <div class="card border-dark p-4 mb-3" id="escolha-pkmn">
                    <h3 class="card-header">Sua Equipe</h3>
                    <div class="card-body">
                        {% if equipe_atual.pkmn_list != None %}
                            <h3 class="card-text">{{equipe_atual.nome_equipe }}: {{ equipe_atual.tamanho_equipe }}/6</h3>
                        {% endif %}
                    </div>
                    <div class="card-footer border-light">
                        <form class="form-group" method="POST" action="{% url 'criar_equipe_pkmn' user %}"> {% csrf_token %}
                            {{ form.as_div }}
                            <button type="submit" class="btn btn-outline-dark col-12 mx-auto">Criar Equipe</button>
                        </form>
                    </div>
                </div>
            </div>

            {% if equipes != None %}
            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for equipe in equipes %}  
                <div class="shadow-sm mb-5 bg-body-tertiary rounded">       
                    <div class="col">
                        <div class="card text-center" id="card-pkmn">
                            <div class="card-body p-5">
                                <p class="card-text">{{equipe.nome_equipe}}</p>
                            </div>
                            <div class="card-body">
                                {% if equipe.playlist %}
                                    <form class="form-group" method="GET" action="{% url 'display-playlist' user equipe.nome_equipe equipe.playlist %}"> 
                                        <button type="submit" class="btn btn-outline-dark btn-sm col-12 mx-auto">playlist</button>
                                    </form>
                                {% else %}
                                    <form class="form-group" method="GET" action="{% url 'editar-equipe-pkmn' user equipe.nome_equipe %}"> 
                                        <button type="submit" class="btn btn-outline-dark btn-sm col-12 mx-auto">continuar</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <form class="form-group" method="POST" action="{% url 'excluir-equipe-pkmn' user equipe.nome_equipe  %}"> {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-dark btn-sm col-5 mx-auto">excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> 
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-dark p-4 mb-3" id="escolha-pkmn">
                    <h3 class="card-header ">Sua Equipe</h3>
                    <div class="card-body">
                        <h3 class="card-text">{{equipe_atual.nome_equipe }}: {{ equipe_atual.tamanho_equipe }}/6</h3>
                    </div>            
                    <div class="card-footer border-light">
                        <form class="form-group" method="POST" action="{% url 'criar-pkmn' equipe_atual.usuario equipe_atual.nome_equipe %}"> {% csrf_token %}
                            {% if equipe_atual.tamanho_equipe < 6 %}  
                                {{ form.as_div }}
                                <button type="submit" class="btn btn-outline-dark col-12 mx-auto">Adicionar</button>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-dark col-12 mx-auto" formaction="{% url 'criar-playlist' equipe_atual.usuario equipe_atual.nome_equipe  %}" >Criar Playlist</button> 
                        </form>
                    </div>
                </div>
            </div>
            {% if equipe_atual.pkmn_list != None %}
            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for nome,valor in equipe_atual.pkmn_list.items %}
                <div class="col">
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded">
                        <div class="card text-center" id="card-pkmn">
                            <img src="{{valor.sprite}}" class="card-img-top mx-auto" style="width: 96px;height: 96px;;">
                            <div class="card-body p-2">
                                <p class="card-text">{{nome}}</p>
                            {% for atributo in valor.atributos %}
                                <span class="badge mx-1 text-bg-info rounded-pill" style="background-color: {{ atributo.cor }} ;">{{ atributo.genero }}</span>
                            {% endfor %}
                            </div>
                            <div class="card-footer">
                                <form class="form-group" method="POST" action="{% url 'excluir-pkmn' equipe_atual.usuario equipe_atual.nome_equipe nome %}"> {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-dark btn-sm col-5 mx-auto">excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}    
    </body>
</html>